<!-- <div id="findhotels">
  Encuentra restaurantes en:
</div> -->

<div id="locationField">
  <input id="autocomplete" placeholder="Chamberi, Chamartin ..." type="text" />
</div>

<div id="controls">
  <select id="country">
    <option value="all">All</option>
    <option value="Chm">Chamberi</option>
    <option value="br">Brazil</option>
    <option value="ca">Canada</option>
    <option value="fr">France</option>
    <option value="de">Germany</option>
    <option value="mx">Mexico</option>
    <option value="nz">New Zealand</option>
    <option value="it">Italy</option>
    <option value="za">South Africa</option>
    <option value="es">Spain</option>
    <option value="pt">Portugal</option>
    <option value="ES" selected>Spain</option>
    <option value="uk">United Kingdom</option>
  </select>
</div>

<div id="map"></div>

<div id="listing">
  <table id="resultsTable">
    <tbody id="results"></tbody>
  </table>
</div>
<div style="display: none">
  <div id="info-content">
    <table>
      <tr id="iw-url-row" class="iw_table_row">
        <td id="iw-icon" class="iw_table_icon"></td>
        <td id="iw-url"></td>
      </tr>
      <tr id="iw-address-row" class="iw_table_row">
        <td class="iw_attribute_name">Address:</td>
        <td id="iw-address"></td>
      </tr>
      <tr id="iw-phone-row" class="iw_table_row">
        <td class="iw_attribute_name">Telephone:</td>
        <td id="iw-phone"></td>
      </tr>
      <tr id="iw-rating-row" class="iw_table_row">
        <td class="iw_attribute_name">Rating:</td>
        <td id="iw-rating"></td>
      </tr>
      <tr id="iw-website-row" class="iw_table_row">
        <td class="iw_attribute_name">Website:</td>
        <td id="iw-website"></td>
      </tr>
    </table>
  </div>
</div>


  <div class="row">
              <div class="col s12 m7">
      <p>  <% restaurants.forEach((restaurant) => { %>
            <div class="card">
              <div class="card-image">
                <img src="http://abaceriadelsurblog.es/wp-content/uploads/2014/12/restaurantes.jpg">
                <span class="card-title"><p><%= restaurant.name %></p></span>
              </div>
              <div class="card-content">
          <p><span>Rating: </span><%= restaurant.rating %></p>
          <p><%= restaurant.direction %></p>
          <p><%= restaurant.category %></p>
              </div>
              <div class="card-action">
                <a href="/restaurants/like/<%=restaurant._id%>">Me gusta</a>
                <a href="#">Pedir</a>
              </div>
            </div>
            </p>
            <% }) %>
          </div>
        </div>
